<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Introduction</title>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>
<body>

  <!-- text interpolation -->
  <div id="app">
    {{ message }}
  </div>
  <br>

  <!-- binding to element attributes -->
  <div id="app2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>
  <br>

  <!-- conditionals attached to the dom -->
  <div id="app3">
    <span v-if="seen">Now you see me</span>
  </div>
  <br>
  
  <!-- loops! -->
  <div id="app4">
    <ol>
      <li v-for="todo in todos"> 
        {{ todo.text }} 
      </li>
    </ol>
  </div>

  <script>
    // text interpolation
    let app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    });

    // binding to element attributes
    let app2 = new Vue({
      el: '#app2',
      data: {
        message: `You loaded this page on ${new Date().toLocaleString()}`
      }
    });
    
    // conditionals attached to the dom
    let app3 = new Vue({
      el: '#app3',
      data: {
        seen: true
      }
    });

    // loops!
    let app4 = new Vue({
      el: '#app4',
      data: {
        todos: [
          { text: 'Learn JavaScript' },
          { text: 'Learn Vue' },
          { text: 'Build something awesome!' }
        ]
      }
    });
  </script>
</body>
</html>