<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Introduction</title>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>

  <!-- text interpolation -->
  <div id="app">
    {{ message }}
  </div>
  <br>

  <!-- binding to element attributes -->
  <div id="app2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>
  <br>

  <!-- conditionals attached to the dom -->
  <div id="app3">
    <span v-if="seen">Now you see me</span>
  </div>
  <br>

  <!-- loops! -->
  <div id="app4">
    <ol>
      <li v-for="todo in todos"> 
        {{ todo.text }} 
      </li>
    </ol>
  </div>
  <br>

  <!-- handling user input -->
  <div id="app5">
    <p> {{ message }} </p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
  <br>

  <!-- two way binding between input and app state -->
  <div id="app6">
    <p> {{ message }} </p>
    <input type="text" v-model="message">
  </div>
  <br>

  <!-- creating your own custom reusable components -->
  <div id="app7">
    <ol>
      <todo-item 
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>
  <br>

  <!-- using the computer property to perform a function on a piece of data before it gets sent to the DOM -->
  <div id="app8">
    <p>Original Message: "{{ message }}"</p>
    <p>Reversed Message: "{{ reversedMessage }}"</p>
  </div>
  <br>

  <!-- watch example, great for when you want to decide when to do an api call or other expensive operation -->
  <div id="watch-example">
    <p>
      Ask a yes/no question:
      <input v-model="question">
    </p>
    <p>{{ answer }}</p>
  </div>
  <script>
    // text interpolation
    const app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    });

    // binding to element attributes
    const app2 = new Vue({
      el: '#app2',
      data: {
        message: `You loaded this page on ${new Date().toLocaleString()}`
      }
    });
    
    // conditionals attached to the dom
    const app3 = new Vue({
      el: '#app3',
      data: {
        seen: true
      }
    });

    // loops!
    const app4 = new Vue({
      el: '#app4',
      data: {
        todos: [
          { text: 'Learn JavaScript' },
          { text: 'Learn Vue' },
          { text: 'Build something awesome!' }
        ]
      }
    });

    // handling user input
    const app5 = new Vue({
      el: '#app5',
      data: {
        message: 'Vue JS Rocks!'
      },
      methods: {
        // must be non-arrow function
        reverseMessage: function(){
          this.message = this.message.split('').reverse().join('')
        }
      }
    });

    // two way binding between input and app state
    const app6 = new Vue({
      el: '#app6',
      data: {
        message: 'Hello, Vue!'
      }
    });

    // creating your own custom and reuseable components
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li> {{ todo.text }} </li>'
    });
    
    const app7 = new Vue({
      el: '#app7',
      data: {
        groceryList: [
          { id: 0, text: 'Vegetables' },
          { id: 1, text: 'Cheese' },
          { id: 2, text: 'Steak' }
        ]
      }
    })

    const app8 = new Vue({
      el: '#app8',
      data: {
        message: 'Hello Vue'
      },
      computed: {
        // a computed getter, what this returns always depends on the value of message
        reversedMessage: function(){
          // 'this' points to the Vue instance, you cannot use arrow functions
          return this.message.split('').reverse().join('');
        }
      }
    })

    // computed versus method properties: 
    // Instead of a computed property, we can define the same function as a method instead. For the end result, the two approaches are indeed exactly the same. However, the difference is that computed properties are cached based on their dependencies. A computed property will only re-evaluate when some of its dependencies have changed. This means as long as message has not changed, multiple access to the reversedMessage computed property will immediately return the previously computed result without having to run the function again.


    // While computed properties are more appropriate in most cases, there are times when a custom watcher is necessary. That’s why Vue provides a more generic way to react to data changes through the watch option. This is most useful when you want to perform asynchronous or expensive operations in response to changing data.
    const watchExample = new Vue({
      el: '#watch-example',
      data: {
        question: '',
        answer: 'I cannot give you the answer until you ask the question.'
      },
      // whenever the data changes this function will run
      watch: { 
        question: function(newQuestion, oldQuestion){
          this.answer = 'Waiting for you to stop typing...';
          this.getAnswer();
        }
      }, 
      methods: {
        getAnswer: _.debounce(
          function(){
            if (this.question.indexOf('?') === -1) {
              this.answer = 'Questions usually contain a question mark.';
              return;
            }
            this.answer = 'thinking...';
            var vm = this;
            axios.get('https://yesno.wtf/api')
              .then(function(response){
                vm.answer = _.capitalize(response.data.answer);
              })
              .catch(function(error){
                vm.error = 'Could not reach the api: ' + error;
              })
          },
          500
        )
      }
    })
  </script>
</body>
</html>