<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product App</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">
      <div class="product-image">
        <img v-bind:src="image" alt="">
      </div>
      <div class="product-info">
        <h1>{{ title }}</h1>
        <h3>{{ description }}</h3>
        <p v-if="inStock >= 10">In Stock</p>
        <p v-else-if="inStock < 10 && inStock > 0">Almost sold out</p>
        <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>
        <div 
          v-for="(variant, index) in variants" 
          :key="variant.variantId"
          class="color-box"
          :style="{ backgroundColor: variant.variantColor }"
          @mouseover="updateProduct(index)"
          >
        </div>
        <div v-for="size in sizes">{{ size }}</div>
        <h4 v-show="onSale">On Sale!</h4>
        <button 
          v-on:click="addToCart"
          :disabled="!inStock"
          :class="{ disabledButton: !inStock }"
          >Add to Cart</button>
        <button 
          v-on:click="removeFromCart"
          :disabled="!inStock"
          :class="{ disabledButton: !inStock }"
          >Remove from Cart</button>
        <div class="cart">
          <p>Cart({{ cart }})</p>
        </div>
      </div>
    </div>
    <a :href="creator" target="_blank" rel="noopener">Created by Nate Mallison</a>
  </div>



  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="scripts.js"></script>
</body>
</html>